.Footer {
  position: absolute;
  width: 90%;
  margin: 1.5rem auto 2rem auto;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #ffffff;
  font-weight: 300;
  bottom: 0;
}
